h1{
    background-color: forestgreen;
    padding: 20px;
    margin: 20px;
    color: white;
}
.courses{
    background-color: rgb(194, 168, 25);
    color: green;
    padding: 15px;
    margin: 15px;
}
table{
    background-color: green;
    color: white;
    width: 100%;
    text-align: center;
    border-color: 10px solid rgb(255, 0, 0);
    border-color: 20px 10px 20px;
}
th{
    background-color: rgb(221, 226, 214);
    color: black;
    font-size: larger;
}